<div class="max-w-2xl mx-auto p-6">
  <h2 class="section-title text-3xl mb-10">About</h2>
  <p class="text-gray-100 leading-relaxed mb-6 text-base">
    In the pursuit of excellence, Jérôme graduated with a Mlit and a GD in Computer Science. Additionally, he holds a Full-Stack Developer Professional Certification from Meta and a Cybersecurity Professional Certification from Google. With a solid foundation in banking, he transitioned towards his true passion—coding and web development. He has worked on several projects across Europe for international companies, non-profits and individuals. With 9 years of experience, he acquired a specific set of skills that position him as a versatile and accomplished professional in the world of technology.
  </p>

  <app-about-carousel></app-about-carousel>
</div>
