<section
  class="relative py-20 overflow-hidden"
  aria-labelledby="projects-heading"
>
  <div
    class="absolute inset-0 z-0 bg-secondary/90 backdrop-blur-sm shadow-inner"
  >
    <!-- Background remains in CSS for complex gradients and patterns -->
  </div>
  <div class="relative z-10 max-w-6xl mx-auto px-6 py-10">
    <h2 id="projects-heading" class="section-title text-3xl mb-10">
      All Projects
    </h2>

    <!-- Categories filter (child component) -->
    <app-project-filter
      [categories]="categories()"
      [selectedCategory]="selectedCategory()"
      (categoryChange)="filterByCategory($event)"
    ></app-project-filter>

    <!-- projects grid is now handled by the ProjectsGridComponent -->
     <app-projects-grid [projects]="projects()"></app-projects-grid>
  </div>
</section>
