@if ((thumbnails && thumbnails.length > 0 && (thumbnails[0].png || thumbnails[0].webp || thumbnails[0].avif)) || (mockups && mockups.length > 0 && mockups[0].png) || (screenshot && screenshot.png)) {
<picture>
  <source
    [srcset]="
      thumbnails && thumbnails.length > 0 ? thumbnails[0].avif : (mockups && mockups.length > 0 ? mockups[0].avif : screenshot?.avif)
    "
    type="image/avif"
  />
  <source
    [srcset]="
      thumbnails && thumbnails.length > 0 ? thumbnails[0].webp : (mockups && mockups.length > 0 ? mockups[0].webp : screenshot?.webp)
    "
    type="image/webp"
  />
  <img
    [src]="thumbnails && thumbnails.length > 0 ? thumbnails[0].png : (mockups && mockups.length > 0 ? mockups[0].png : screenshot?.png)"
    [alt]="title + ' project thumbnail'"
    class="w-full h-full object-cover transition-transform duration-500 ease-in-out group-hover:scale-105"
  />
</picture>
} @else {
<img
  src="assets/placeholder-project.svg"
  [alt]="title + ' placeholder image'"
  class="w-full h-full object-cover transition-transform duration-500 ease-in-out group-hover:scale-105"
/>
}
