<div class="flex items-center gap-6">
@if (github && github.frontend) {
  <a
  [href]="github.frontend"
  target="_blank"
  class="project-link flex items-center text-primary hover:text-primary-dark transition-colors relative pb-1 w-fit"
  (click)="$event.stopPropagation()"
  [attr.aria-label]="'View GitHub repository for ' + title"
>
  <span class="material-symbols-outlined"> code </span>
  GitHub
  <span class="ml-1" aria-hidden="true"
    ><i class="fas fa-code-branch text-xs"></i
  ></span>
  </a>
}
@if (website) {
  <a
  [href]="website"
  target="_blank"
  class="project-link flex items-center text-primary hover:text-primary-dark transition-colors relative pb-1 w-fit"
  (click)="$event.stopPropagation()"
  [attr.aria-label]="'Visit live demo of ' + title"
>
  <span class="material-symbols-outlined"> open_in_new </span>
  Live Demo
  <span class="ml-1" aria-hidden="true"
    ><i class="fas fa-external-link-alt text-xs"></i
  ></span>
  </a>
}
</div>
