<main role="main" class="flex flex-col">
    <section id="top" class="min-h-screen w-full" role="region" aria-label="Home">
        <app-hero></app-hero>
    </section>
    <section id="about" class="py-20 w-full" appViewportAnimation animationClass="fade-in" [repeatAnimation]="true" role="region" aria-labelledby="about-heading">
        <app-about></app-about>
    </section>
    <section id="certifications" class="py-20 w-full" appViewportAnimation animationClass="fade-in" [repeatAnimation]="true" role="region" aria-labelledby="certifications-heading">
        <app-about-carousel></app-about-carousel>
    </section>
    <section id="projects" class="py-20 w-full" appViewportAnimation animationClass="slide-in-up" [animationDelay]="200" [repeatAnimation]="true" role="region" aria-labelledby="featured-projects-heading">
        <app-featured-projects></app-featured-projects>
    </section>
    <section id="contact" class="py-20 w-full" appViewportAnimation animationClass="zoom-in" [animationDelay]="300" [repeatAnimation]="true" role="region" aria-labelledby="contact-heading">
        <app-contact></app-contact>
    </section>
</main>