/* Carousel animation */
.carousel-container {
  animation: scroll-left 30s linear infinite;
  min-width: fit-content;
  width: max-content;
  display: flex;
}

/* Pause the animation on hover */
.carousel-container:hover {
  animation-play-state: paused;
}

/* Animation keyframes for continuous scrolling */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    /* The animation moves exactly to the point where the duplicates start */
    transform: translateX(-50%);
  }
}

/* Animation for each item when hovering */
.carousel-item {
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-item:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  z-index: 10;
}